h1 {
    animation: aparece 3s ease-in; 
}
@keyframes aparece {
    0% {
        opacity: 0;
        transform: scale(0.001);
        font-size: 10%;
    }
    100% {
        opacity: 1;
        font-size: 120%;
    }
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s, box-shadow 1s ease-in;
    transition-delay: 1s, 0s;
    position: relative;
    animation: quica 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}
.citacao-bio:nth-of-type(odd) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd):hover, .citacao-bio:nth-of-type(odd):focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transform: scale(1.2) rotate(-5deg);
    animation-play-state: paused;
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(even) {
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(even):hover, .citacao-bio:nth-of-type(even):focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transform: scale(1.2) rotate(5deg);
    animation-play-state: paused;
}
.citacao-bio > p {
    position: relative;
}
.citacao-bio::before {
    content: '"';
    font-size: 10em;
    color: #bbb;
    position: absolute;
    line-height: .8;
}

.container > p::first-letter {
    font-size: 200%;
    color: #3C1D3D;
    font-weight: bold;
    text-shadow: 1px 1px #000; 
    margin-right: .2ch;
    line-height: 1   
}
.habilidades {
    margin: 1em 0;
    border-spacing: .25em;
    border-collapse: separate;
}
.habilidades th, .habilidades td{
    padding: 1em;
}
.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}
.habilidades thead th {
    background-color: #3C1D3D;
}
.habilidades tbody td {
    background-color: #EEE;
    color: inherit;
}
.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}
.habilidades [rowspan] {
    vertical-align: middle;
}